[submodule "authservice-apploan-nestjs"]
	path = authservice-apploan-nestjs
	url = https://github.com/triskacode/authservice-apploan-nestjs.git
[submodule "userservice-apploan-nestjs"]
	path = userservice-apploan-nestjs
	url = https://github.com/triskacode/userservice-apploan-nestjs.git
[submodule "accountservice-apploan-nestjs"]
	path = accountservice-apploan-nestjs
	url = https://github.com/triskacode/accountservice-apploan-nestjs.git
[submodule "loanservice-apploan-nestjs"]
	path = loanservice-apploan-nestjs
	url = https://github.com/triskacode/loanservice-apploan-nestjs.git
[submodule "apploan-next"]
	path = apploan-next
	url = https://github.com/triskacode/apploan-next.git
